# Output
dist/
*.log

# Temp and caches
node_modules/
.cache/
.awcache/
*~

# IDE
.idea/
*.iml
.vscode/
.history/

# Yarn
pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
